<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haitao55.spider.common.dao.impl.mysql.StatisticsMapper">
	<sql id="allColumns">
		task_id as taskId, start_time as startTime, end_time as endTime, 
		success_count as successCount, failed_count as failedCount, 
		offline_count as offlineCount, total_count as totalCount
	</sql>

	<select id="selectLatestStatistics" resultType="com.haitao55.spider.common.dos.StatisticsDO">
		<!-- 方法一:使用in关键字 -->
<!-- 		select
		<include refid="allColumns" />
		from statistics 
		where task_id in (select distinct(id) from task)
		and start_time in(
		select max(start_time) from statistics
		group by task_id) -->
		
		<!-- 方法二：使用any_value关键字 -->
<!-- 		select task_id taskId,max(start_time) startTime,any_value(end_time) endTime, 
			   any_value(success_count) successCount, any_value(failed_count) failedCount,
			   any_value(offline_count) offlineCount, any_value(total_count) totalCount
		from   statistics
		where task_id in (select distinct(id) from task)
		group by task_id -->
		
		<!-- 方法三：连表查询 -->
		select  a.task_id as taskId, a.start_time as startTime, a.end_time as endTime, 
				a.success_count as successCount, a.failed_count as failedCount, 
				a.offline_count as offlineCount, a.total_count as totalCount
		from statistics a,(
			select task_id,max(start_time) startTime
		    from statistics
		    where task_id in (select distinct(id) from task)
		    group by task_id) b
		where a.task_id = b.task_id
		and a.start_time = b.startTime
	</select>
	
	<insert id="insert" parameterType="com.haitao55.spider.common.dos.StatisticsDO">
		INSERT INTO statistics
		(task_id, start_time, end_time, success_count, failed_count, offline_count, total_count)
		VALUES
		(#{taskId}, #{startTime}, #{endTime}, #{successCount}, #{failedCount},
		 #{offlineCount}, #{totalCount});
	</insert>
	
	<select id="selectByTaskId" parameterType="String" resultType="com.haitao55.spider.common.dos.StatisticsDO">
		select 
		<include refid="allColumns"/>
		from statistics
		where task_id=#{taskId}
		order by start_time desc
	</select>
	
	<select id="selectByTaskIdAndStartTime" parameterType="java.util.HashMap" resultType="com.haitao55.spider.common.dos.StatisticsDO">
		select 
		<include refid="allColumns"/>
		from statistics
		where task_id=#{taskId}
		and start_time=#{startTime}
	</select>
	
	<delete id="deleteByTaskId" parameterType="String">
		delete from statistics
		where task_id = #{taskId}
	</delete>
</mapper> 